<?xml version="1.0"?>
<launch>
    <!-- You can change control program  -->




    <!-- sample program  -->

    <node pkg="onigiri_war" type="kamei_d_mod.py" name="umaiwasakana" output="screen"/>
    <node pkg="cvtest" type="cvtest_node" name="cvtest_node" output="screen"/>







    <!-- End of your space  -->
</launch>

